body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fc-primary {
  color: #1FC4DA;
}

.fc-secondary {
  /* color: #FFC9A5; */
  color: #82EFEA;
}

.fc-white {
  color: #EAEBED;
}

.fc-accent {
  color: #FF8496;
}

.bg-accent {
  background: #FF8496;
}

.bg-accent-hover:hover {
  background: #df3851;
}